html {
	background-color: #000;
	color: #fff;
}

header {
	border-bottom: solid;
}

header h1 {
	text-align: center;
}

.section {
	width: 75vw;
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
}

.section div {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
	text-align: center;
}