html {
	background-color: #000;
	color: #fff;
	letter-spacing: 1px;
}

header {
	border-bottom: solid;
}

header h1 {
	text-align: center;
}

.poem {
	max-width: 500px;
}

.poem div {
	text-align: center;
}

.prose {
	text-align: left;
}

.section {
	width: 75vw;
	margin: auto;	
}

.section div {
	width: 75%;
	padding: 1vw;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
	border: solid;
}

.section h2 {
	text-align: center;
}