html {
	background-color: #000;
	color: #fff;
	letter-spacing: 1.5px;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: #fff;
	display: block;
}

a:hover {
	color: #999;
}

header {
	display: flex;
	border-bottom: solid;
	width: 75vw;
	margin: auto;
	align-items: center;
}

header div {
	display: inline-block;
}

#header {
	margin: auto;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

.next {
	text-align: left;
}

.previous {
	text-align: right;
}

.home {
	position: fixed;
	top: 0.5em;
	left: 8vw;
}

.options {
	position: fixed;
	top: 10px;
	left: 1vw;
	width: 12vw;
	font-size: 1em;
	text-align: left;
}

.options a {
	margin-bottom: 0.5em;
	padding-right: 0.5em;
	text-align: right;
}

.options .expand {
	background-color: #000;
	position: fixed;
	top: 50px;
	bottom: 0;
	overflow: scroll;
	left: -100%;
	transition: left 1s ease-in-out;
}

.options:hover .expand {
	left: 1vw;
}

.poem {
}

.poem div {
	text-align: center;
	width: 50vw;
}

.prose {
	text-align: left;
}

.section {
	width: 75vw;
	margin: 0.5em auto;
}

.section div {
	padding: 1vw;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
}

@media screen and (max-width: 500px) {
	#header {
		font-size: 1.25em;
	}
        }

.section h2 {
	text-align: center;
	border-top: solid;
	border-bottom: solid;
}

.contents {
	margin-top: 0.5em;
	text-align: center;
}

#table-of-contents a {
	width: 50%;
	margin: 0.5em auto;
	padding-left: 0.5em;
	text-align: left;
	font-size: 1.5em;
}