:root,
	:root.dark {
		--color: #fff;
		--background-color: #000;
		--blob-color: #222;
		--link-color: #999;
	}

	:root.light {
		--color: #000;
		--background-color: #ddd;
		--blob-color: #999;
		--link-color: #fff;
	}

	:root.pink {
		--color: #534;
		--background-color: #fab;
		--blob-color: #fcd;
		--link-color: #fef;
	}


html {
	background-color: var(--background-color);
	color: var(--color);
	letter-spacing: 0.1rem;
	scroll-behavior: smooth;
}

body {
	margin: auto;
}

.blob {
	background-color: var(--blob-color);
	border-radius: 10px;
	padding: 10px;
	margin: 10px auto;
}


a {
	text-decoration: none;
	color: var(--color);
	display: block;
}

a:hover {
	color: var(--link-color);
}

header {
	text-align: center;
}

header h1 {
	margin: 5px;
	letter-spacing: 0.5rem;
}

header h1 span {
	letter-spacing: 1rem;
}

.nav {
	display: flex;
	justify-content: center;
	margin: auto;
}

.nav a {
	display: inline-block;
	font-size: 1em;
	font-weight: 100;
	letter-spacing: 0.2rem;
	margin: auto 5px;
	width: 50px;
}

.homeNav {
	justify-content: center;
	margin: auto;
}

.homeNav a {
	display: block;
	font-size: 0.25em;
	font-weight: 100;
	letter-spacing: 0.2rem;
	margin: 5px auto;
	width: max-content;
}

.section {
	padding: 10px 20px;
	max-width: 75vw;
	overflow-wrap: break-word;
	width: max-content;
}

.section a {
	font-size: 1.5em;
}

.section div {
	padding: 5px 10px;
	overflow-wrap: break-word;
}

.poem {
	width: max-content;
}

.poem div {
	margin: auto;
}

#contents {
	margin: auto;
	width: min-content;
}

#contents a {
	width: max-content;
	max-width: 75vw;
	margin-left: 0px;
	overflow-wrap: break-word;
}

.colors {
	flex-flow: row wrap;
	margin: auto;
	text-align: center;
}

.color-opts div {
	width: max-content;
}

.color-opts a {
	display: inline-block;
}

.center {
	text-align: center;
}


@media screen and (max-width: 500px) {
	html {
		font-size: larger;
	}

	.section {
		width: 75vw;
	}
	/*
	#header {
		font-size: 1.25em;
	}

	.flex a {
		font-size: 1.25em;
	}

	.options .expand {
		width: 37.5vw;
    }

    #table-of-contents a {
    	font-size: 1em;
    }

    .poem div {
    	padding-left: 15vw;
    }
    */
}