html {
	background-color: #000;
	color: #fff;
	letter-spacing: 1.5px;
	scroll-behavior: smooth;
}

.border-bottom {
	border-bottom: solid;
}

a {
	text-decoration: none;
	color: #fff;
	display: block;
}

a:hover {
	color: #999;
}

header {
	width: 75vw;
	margin: auto;
}

header h1 {
	border-bottom: solid;
	margin: 5px;
}

header a {
	margin: 5px;
	font-size: 0.5em;
	font-weight: 100;
}

.contents {
	text-align: center;
}

#header {
	margin: auto;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

.flex {
	display: flex;
	justify-content: center;
}

.flex a {
	margin: 0.5em 1em;
	font-size: 2em;
}

.next {
	text-align: right;
}

.home {
	text-align: center;
}

.previous {
	text-align: left;
}

.options {
	position: fixed;
	top: 10px;
	left: 1vw;
	bottom: 0;
	width: 12vw;
	font-size: 1em;
	text-align: left;
}

.options a {
	margin-bottom: 0.5em;
	padding-right: 0.5em;
	text-align: right;
}

.options .expand {
	background-color: #000;
	position: fixed;
	width: 25vw;
	top: 50px;
	bottom: 0;
	overflow: scroll;
	left: -100%;
	transition: left 1s ease-in-out;
}

.options:hover .expand {
	left: 1vw;
}

.poem {
}

.prose {
	text-align: left;
}

.section {
	width: 75vw;
	margin: 0.5em auto;
	border-bottom: solid;
}

.section div {
	padding: 1vw;
	margin-left: auto;
	margin-right: auto;
	font-size: 1em;
}

.poem div {
	width: 60vw;
	text-align: left;
	padding-left: 30vw;
	margin: auto;
}

.section a {
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	border-bottom: solid;
	margin: 1em auto;
}

.section h2 {
	text-align: center;
}

#table-of-contents {
	width: 75vw;
	border-bottom: solid;
	margin: auto;
}

#table-of-contents a {
	width: 75%;
	margin: 0.5em auto;
	padding-left: 12.5vw;
	text-align: left;
	font-size: 1em;
	font-weight: 400;
}

@media screen and (max-width: 500px) {
	#header {
		font-size: 1.25em;
	}

	.flex a {
		font-size: 1.25em;
	}

	.options .expand {
		width: 37.5vw;
    }

    #table-of-contents a {
    	font-size: 1em;
    }

    .poem div {
    	padding-left: 15vw;
    }
}